.previews {
  width: 20%;
}

.previews_list {
  margin: 0;
  padding: 0;
}

.previews_list_item {
  list-style: none;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.preview_radio {
  display: none;

  &:checked {
    & + .preview_label {
      padding-left: 40px;
      transition: padding-left 0.2s;

      &::before,
      &::after {
        opacity: 1;
        transition: opacity 0.2s;
      }
    }
  }
}

.preview_label {
  display: block;
  transition: padding-left 0.2s;
  position: relative;

  &::before,
  &::after {
    display: block;
    opacity: 0;
    transition: opacity 0.2s;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    width: 18px;
    height: 18px;
    left: 10px;
    background-color: @main_color;
  }

  &::after {
    width: 10px;
    height: 10px;
    left: 14px;
    background-color: @background_color;
  }
}

@media (max-width: @mobile_width) {
  .previews {
    width: 100%;
  }

  .previews_list {
    display: flex;
    justify-content: space-between;
  }

  .previews_list_item {
    flex: 1 1 0;
  }
}