.projects {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.project_item {
  width: 30%;
  border: 1px solid @main_color;
  padding: 10px;
}

.project_title {
  font-size: 20px;
  line-height: 24px;
}

.project_subtitle {
  font-size: 16px;
  line-height: 20px;
}

.project_img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 3px 3px @main_shadow_color;
  cursor: pointer;

  &:hover {
    background-color: @background_color;
    
    .project_links {
      display: flex;
    }
  }
}

.project_links {
  display: none;
  width: 100%;
  height: 100%;
  background-color: @background_color_opaque;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_link {
  color: @main_color;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  border: 1px solid @main_color;

  &:hover {
    border-color: @gold_color;
    color: @gold_color;
  }
}