.projects_shown {
  display: flex;
  justify-content: space-between;
}

.project_item {
  width: 60%;
  border: 1px solid @main_color;
  padding: 10px;
  min-width: fit-content;
  background-color: @background_color;
}

.project_header {
  display: flex;
  margin-bottom: 20px;
}

.project_title {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.project_tech {
  align-self: center;
  margin-left: auto;
}

.project_tech_item {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  height: 14px;

  &:not(:last-of-type) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid @main_color;
  }
}

.project_subtitle {
  font-size: 16px;
  line-height: 20px;
}

.project_img_container {
  width: 100%;
  display: flex;
  background-color: @background_color_img;
  padding: 10px;
  margin: 0 -10px;
}

.project_img_cover {
  width: 180px;
  height: 180px;
  border: 1px solid @main_color;
  position: relative;
  
  &:not(:last-of-type) {
    margin-right: 20px;
  }

  &:hover {
    .project_img_description {
      display: flex;
    }
  }
}

.project_img_description {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background-color: @background_color_opaque;
  align-items: center;
  justify-content: center;
}

.project_img {
  display: block;
  width: 100%;
  height: 100%;
}

.project_description {
  margin: 20px 0;
}

.project_features {
  padding-left: 20px;
  margin: 0;
}

.project_links {
  display: flex;
  align-items: center;
}

.project_link {
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: scale(98%);
}

@media (max-width: @mobile_width) {
  .projects_shown {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .project_item {
    box-sizing: border-box;
    width: 100%;
  }

  .project_header {
    flex-direction: column;
  }

  .project_tech {
    margin-left: 0;
    align-self: flex-start;
  }

  .project_img_container {
    flex-direction: column;
  }

  .project_img_cover {
    width: 100%;
    height: auto;

    &:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}